extends layout

block content
  h1 A Demo Showing CSS as A Service
  p Welcome to #{title}

  p background & font color is requested from the api /create/property/value
  p eg: /create/background/black

  p request multiple properties with /create/one,two,three/one,two,three
  p eg: /create/background,color/black,fffff
